<%- include("partials/header") -%>
    <h1>Compose</h1>
    <form action="#" method="POST">
        <input type="text" name="add" id="">
        <button type="submit" name="publish">publish</button>
    </form>

<%- include("partials/footer") -%>